<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Busqueda de familiar:</h1>

    <h2>Por favor, ingrese la edad correspondiente</h2>

    {% if familiar.errors %}

    <p style="color: red">NO COINCIDE CON LA LISTA DE FAMILIARES</p> 
    
    {% endif %}
    
    <form action="/AppMvt/buscar/" method="GET">

        <input type="number" name="edad" id="edad">
        <input type="submit", value="Enviar">
    </form>

    <p>Resultados de la busqueda:</p>

    {% if buscar %}
        <ul>
            {% for familiar in buscar %}
            <li>
                <p> {{familiar.nombre}}</p>
                <p> {{familiar.apellido}}</p>
                <p> {{familiar.edad}}</p>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        No se encontraron resultados.
    {% endif %}
    
</body>
</html>