<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hogar</title>
</head>
<style>
     body {
        background-color: black;
    }
    h2 {
        color: red;
    }
    h1 {
        color: white;
    }
</style>    
<body>
    <h1>Las direcciones son:</h1>
    <h2>Eric ---> Hogar : {{hogarDir}}</h2>
    <h2>Zara ---> Hogar : {{hogar1Dir}}</h2>
    <h2>Juan ---> Hogar : {{hogar2Dir}}</h2>
</body>
</html>