<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVT Ian Munna</title>
</head>
<style>
    body {
        background-color: black;
    }
    h2 {
        color: red;
    }
    h1 {
        color: white;
    }
</style>
<body>
    <h1>Los integrantes de mi familia son:</h1>
    <h2>Eric ---> nombre : {{familiarNom}}, apellido: {{familiarApe}}, edad: {{familiarEdad}}, email: {{familiarEmail}}, profesion: {{familiarProf}}, fecha de nacimiento: {{familiarFech}}</h2>
    <h2>Zara ---> nombre : {{familiar1Nom}}, apellido: {{familiar1Ape}}, edad: {{familiar1Edad}}, email: {{familiar1Email}}, profesion: {{familiar1Prof}}, fecha de nacimiento: {{familiar1Fech}}</h2>
    <h2>Juan ---> nombre : {{familiar2Nom}}, apellido: {{familiar2Ape}}, edad: {{familiar2Edad}}, email: {{familiar2Email}}, profesion: {{familiar2Prof}}, fecha de nacimiento: {{familiar2Fech}}</h2>
</body>
</html>
